<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
      <ul>
        <li>
          <%= link_to doohickeys_path {}, {class: "button"} do %>
            <%= I18n.t(Doohickey.name.underscore, default: Doohickey.name.underscore.pluralize.titleize) %>
          <% end %>
        </li>
        <li>
          <%= link_to comments_path {}, {class: "button"} do %>
            <%= I18n.t(Comment.name.underscore, default: Comment.name.underscore.pluralize.titleize) %>
          <% end %>
        </li>
        <li>
          <%= link_to categories_path {}, {class: "button"} do %>
            <%= I18n.t(Category.name.underscore, default: Category.name.underscore.pluralize.titleize) %>
          <% end %>
        </li>
        <li>
          <%= link_to users_path {}, {class: "button"} do %>
            <%= I18n.t(User.name.underscore, default: User.name.underscore.pluralize.titleize) %>
          <% end %>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
