<%
require "ez_crud/attrs"
require "ez_crud/html"
results = models.to_a
if results.length == 0
  %>
  <div class="no-results"><%=I18n.t("ez_crud.no_results")%></div>
  <%
else
  attrs = EzCrud::Attrs.summarize(model_class, local_assigns.fetch(:params, {}))
  attr_types = EzCrud::Attrs.attr_types(model_class)
  %>
  <div class="index-container">
    <table class="index-table">
      <thead>
        <tr>
          <% attrs.each do |attr| %>
            <th class="<%=attr_types[attr].to_s.underscore.gsub('/','_')%>"><%=I18n.t(attr, default: attr.to_s.titleize)%></th>
          <% end %>
          <th></th>
        </tr>
    </thead>
      <tbody>
        <% results.each do |model| %>
          <tr>
            <% attrs.each do |attr| %>
              <td class="show-field <%=attr%> <%=attr_types[attr]%>">
                <%= EzCrud::Html.show(model.send(attr)) %>
              </td>
            <% end %>
            <td class="action-cell">
              <div class="actions">
                <% if viewable?(model) %>
                  <%= link_to I18n.t("ez_crud.show"), model, class: "button show" %>
                <% end %>
                <% if editable?(model) %>
                  <%= link_to I18n.t("ez_crud.edit"), send("edit_#{model_class.name.underscore}_path".to_sym, model), class: "button edit" %>
                <% end %>
                <%if destroyable?(model) %>
                  <%= link_to I18n.t("ez_crud.destroy"), model, method: :delete, class: "button destroy", data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if local_assigns.fetch(:paged, true) %>
      <%= render 'components/ez_crud/paginator', search: search, model_class: model_class %>
    <% end %>
  </div>
<% end %>
